/* @import url("https://allfont.net/allfont.css?fonts=star-jedi"); */
@import url(//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi);

@font-face {
  font-family: "Star Jedi";
  src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot");
  src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.svg#Star Jedi")
      format("svg");
}

* {
  font-family: "Star Jedi";
}

#game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid yellow;
  margin-top: 50px;
}

body {
  background-image: url(/docs/assets/imgs/background\ html.jpg);
}

.all {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.description {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Star Jedi", arial;
  height: 500px;
  perspective: 300px;
  color: #feda4a;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 5px;
  line-height: 1.3;
  text-align: center;
}

.text {
  position: relative;
  top: -300px;
  transform-origin: 50% 100%;
  animation: crawl 300s linear;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

#start-button {
  display: flex;
}

#canvas {
  background-image: url("/docs/assets/imgs/may\ the\ force\ be\ with\ you.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#logo {
  height: 150px;
  width: 250px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.main {
  display: flex;
  align-items: center;

  flex-direction: column;
  align-self: flex-start;
  width: 400px;
}
